<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        body {background-color: #FFDBC5;
            font-size:20px;
            font-family: "Tahoma";}
        a {color:#000000; text-decoration:none;}
    </style>
</head>
<body>
<form method="GET", action="/admin/users">
    <h2 align="center">Список пользователей</h2>
    <table th:if="${not #lists.isEmpty(users)}">
        <tr th:each="user : ${users}">
            <td>
                <a th:href="@{/user/{userId}/desktop(userId = ${user.id})}"><span th:text="${user.id + ' | ' + user.name + '   ' + user.password}"></span></a>
            </td>
        </tr>
    </table>
</form>
<br>
<p align="center"><button type="submit" class="btn btn-light"> <a th:href="@{/registration}">Добавить нового пользователя</a></button></p>
</body>
</html>
