<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        body {
            font-size:14px;
            font-family: "Tahoma";}
        a {color:#000000; text-decoration:none;}
        table {
            border: 1px solid grey;
            width: 100%;
        }
    </style>
</head>
<body>
<table id="pricelist" border="1" width="100%" cellpadding="10"><caption>Таблица пользователей</caption>
    <tbody th:if="${not #lists.isEmpty(users)}">
    <tr>
        <td>Ссылка</td>
        <td>Id</td>
        <td>Имя</td>
        <td>Пароль</td>
        <td>Роль</td>
        <td>Статус</td>
        <td>Кол-во проектов</td>
        <td>Кол-во заметок</td>
    </tr>
    <tr th:each="user : ${users}">
        <td><a th:href="@{/user/{userId}/desktop(userId = ${user.id})}"><span th:text="${'http://localhost:8081/user/' + user.id + '/desktop'}"></span></a></td>
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.password}"></td>
        <td><a th:href="@{/admin/{userId}/role(userId = ${user.id})}"><span th:text="${user.getRole()}"></span></a></td>
        <td><a th:href="@{/admin/{userId}/status(userId = ${user.id})}"><span th:text="${user.getStatus()}"></span></a></td>
        <td class="quantity" th:text="${user.getCountFolders()}"></td>
        <td class="quantity0" th:text="${user.getCountNotes()}"></td>
    </tr>
    <tr>
        <td></td>
        <td colspan="2">
            Общее количество проектов: <span id="total">0</span>
        </td>
        <td colspan="2">
            Общее количество заметок: <span id="total0">0</span>
        </td>
    </tr>
    </tbody>
</table>
<br>
<script>
    var table = document.querySelector('#pricelist');
    var tds = table.querySelectorAll('.quantity');

    var sum = 0;
    for (var i = 0; i < tds.length; i++) {
        sum += Number(tds[i].innerHTML);
        total.innerHTML = sum;
    }
</script>
<script>
    var table = document.querySelector('#pricelist');
    var tds = table.querySelectorAll('.quantity0');

    var sum = 0;
    for (var i = 0; i < tds.length; i++) {
        sum += Number(tds[i].innerHTML);
        total0.innerHTML = sum;
    }
</script>
<p align="center"><button type="submit" class="btn btn-light"> <a th:href="@{/registration}">Добавить нового пользователя</a></button></p>
</body>
</html>
